/*@media print {
    body {
        width: 2.28in;
        height: 2in;
    }
  
}*/





/*body {
    padding: 10px;
    color: #000000;
    font-size: 8px;
    height: 15cm;
    width : 10cm;
}

header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
    display: none;
}*/
