@page
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Pages/Shared/_LayoutMain.cshtml";
}

<h2> The resource was not Found</h2>
<a asp-page="./Kaylaa/Sales" class="btn btn-primary"> Go Back to Shop</a>
<a asp-page="./Index" class="btn btn-primary"> Go Back to Login</a>
