@page
@model KaylaaShop.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/Shared/_LayoutMain.cshtml";
}

<h2 class="alert alert-primary"> Access Denied </h2>
<p class="">
    Your User Account do not have the right permission to access this Resources <br/>
    Kindly Login with the Right Credential <br />
    Thank you !


</p>


